html {

	// fonts setup
	font-family: $baseFont;
	@include typo(regular normal dark);
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	@include mq($from: tablet) { text-rendering: geometricPrecision; } // http://css-tricks.com/almanac/properties/t/text-rendering/

	// general
	position: relative;
	min-height: 100%;
	background-color: color(light);
}

body {
  overflow-x: hidden;
}

img {
	max-width: 100%;
}

/* MAIN */
/* --------------------------------------------------------------------------------- */

#main {
	display: block;
	position: relative;
}

#svg-store {
	display: none;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	max-width: 100%;
	@include mq-prop(padding-left, $desktop: 40px, $mobile: 20px);
	@include mq-prop(padding-right, $desktop: 40px, $mobile: 20px);
}

[class$="-inner"] {
	@extend .inner;
}

// #wpadminbar { display: none; }

// rm chrome video download button
video::-internal-media-controls-download-button { display:none; }
video::-webkit-media-controls-enclosure { overflow:hidden; }
video::-webkit-media-controls-panel { width: calc(100% + 30px); }



/* Common classes */
/* --------------------------------------------------------------------------------- */

[hidden],
.is-hidden {
	display: none;
}

@mixin shadow() {
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

@mixin textShadow() {
	text-shadow: 1px 1px 2px color(dark);
}

@mixin square($size) {
	width: $size;
	height: $size;
}
