
$mq-show-breakpoints: (mobile, tablet, desktop);

$baseFont: 'ralewayweb';
$titleFont: 'adventproweb';


@import
    // 'node_modules/@glidejs/glide/src/assets/sass/glide.core',
    // 'node_modules/@glidejs/glide/src/assets/sass/glide.theme',

    'tools/colors',
    'tools/fluid',
    'tools/mq',
    'tools/typography',
    'tools/reset',
    'tools/fonts',

    'base',

    'components/button',
    'components/glide',
    'components/dialog',
    'components/wysiwyg',
    // 'components/slickcarousel',

    'pages/accueil',
    'pages/error',
    'pages/fulldialog',
    'pages/programme',
    'pages/apropos',
    'pages/exposition',
    'pages/articles',
    'pages/article',
    'pages/page',
    'pages/default',
    'pages/pages',

    'views/articlePreview',
    'views/etablissementPreview',
    'views/spectaclePreview',
    'views/spectacleDialog',
    'views/oeuvrePreview',
    'views/oeuvreDialog',
    'views/header',
    'views/footer',
    'views/prefooter',
    'views/mobileNav'
    ;
