
$mq-show-breakpoints: (mobile, tablet, desktop);

$baseFont: 'ralewayweb';
$titleFont: 'adventproweb';


@import
    // 'node_modules/@glidejs/glide/src/assets/sass/glide.core',
    // 'node_modules/@glidejs/glide/src/assets/sass/glide.theme',

    'tools/colors',
    'tools/fluid',
    'tools/mq',
    'tools/typography',
    'tools/reset',
    'tools/fonts',

    'base',

    'components/title',
    'components/glide',
    'components/dialog',
    // 'components/slickcarousel',

    'views/menu'
    ;
