.page__accueil {


  /*

  INTRO

  */

  &-intro {
    position: relative;
    background: color(yellow);
    padding: 20px 0;
    overflow: hidden;

    @include mobile() {
      display: flex;
      align-items: center;
      min-height: 100vh;
      padding: 20px 0;
    }

    &:before, &:after {
      content: ''; display: block;
      position: absolute;
    }

    &:before {
      background: color(pink);
      top: 0; left: 0;
      width: 100%;
      height: 120px;
      transform: rotate(2deg) translate(0,-20px) scale(1.1);
    }

    &:after {
      background: color(green);
      bottom: 0; left: 0;
      width: 300px; height: 100px;
      transform: rotate(45deg) translate(-50%, 0);
      transform-origin: bottom left;
    }

    .inner {
      display: flex;
      align-items: flex-end;

      @include mobile() {
        flex-direction: column;
      }
    }

    &-logo {
      position: relative;
      z-index: 1;
      width: 420px;
      flex-shrink: 0;
      transform: translate(-110px,0);

      @include tablet() {
        transform: none;
      }

      @include mobile() {
        margin-bottom: 20px;
      }
    }
    &-main {
      padding-left: 40px;
      flex-grow: 2;
      @include typo(right);
    }
    &-description {
      @include typo(large);
      margin-bottom: 10px;
    }
    &-date {
      @include typo(xlarge);
      margin-bottom: 20px;
    }
    &-cta {
      @extend .button-pink;
      margin-bottom: 20px;
    }
  }

  /*

  APROPOS

  */

  &-apropos {
    background: white;
    padding: 80px 0;

    .inner {
      display: flex;
      flex-direction: column;
    }

    &-description {
      @extend .wysiwyg;
      @include typo(large justify);
      margin-bottom: 40px;
    }

    &-more {
      @extend .button-yellow;
      align-self: center;
    }
  }


  /*

  PARTNERS

  */

  &-partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mobile() {
      flex-direction: column;
    }
  }

  &-partner {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include mobile() {
      width: 100%;
    }

    > h3 {
      @include typo(small center italic);
      margin-bottom: 10px;
    }

    > a {
      flex-grow: 1;
      display: flex;
      align-items: center;

      img {
        width: 300px;
      }
    }

    &-card {
      display: flex;
      align-items: center;

      img {
        @include square(120px);
        border-radius: 100%;
        margin-right: 10px;
      }
      &-main {
        display: flex;
        flex-direction: column;
        h4 {
          @include typo(bold large);
        }
        span {
          @include typo();
        }
      }
    }
  }


  /*

  PROGRAMME

  */

  &-programme {
    background: color(light);
    padding: 40px 0 80px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: $titleFont;
      @include typo(thin xxlarge center uppercase);
      margin-bottom: 40px;
    }
    &-list {
      @extend .inner;
      margin-bottom: 10px;
    }
    &-more {
      // @extend .button-yellow;
      @extend .button-pink;
    }
  }


  /*

  INFO

  */

  &-info {
    background: white;
    padding: 60px 0 140px 0;

    .inner {
      width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      @include mobile() {
        flex-direction: column;
      }
    }
  }

  &-conferences, &-exposition {
    width: 48%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mobile() {
      width: 100%;
      margin-bottom: 40px;
    }

    &-title {
      font-family: $titleFont;
      @include typo(xxlarge uppercase pink);
      margin-bottom: 10px;
    }
    &-box {
      padding: 40px 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &-more {
      position: absolute;
      bottom: 0; right: 0;
      transform: translate(-20px, 50%);
      @extend .button-yellow;
    }
  }

  &-conferences {
    &-box {
      background: color(pink);
    }
    &-content {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-description {
      flex-grow: 1;
      margin-bottom: 20px;
      @include typo(lighter xlarge justify);
    }
    &-list {
      display: flex;
      justify-content: space-around;

      @include mobile() {
        flex-direction: column;
      }
    }
    &-more {
      &:after {
        background: color(green);
      }
    }
  }

  &-exposition {

    &-title {
      color: color(green);
    }
    &-box {
      background: color(green);
    }
    &-description {
      flex-grow: 1;
      margin-bottom: 20px;
      @include typo(lighter xlarge justify);
    }
    &-more {
      &:before {
        background: color(green);
      }
    }
  }

}
