.page {

  &-container {
    min-height: 50vh;
    padding: 0 0 100px 0;
  }

  &-intro {
    padding: 40px 0;

    &-title {
      font-family: $titleFont;
      @include typo($desktop: thin xxlarge center uppercase, $mobile: large);
      margin-bottom: 40px;
    }

    &-introduction {
      @extend .wysiwyg;

      @include typo($desktop: justify thin large, $mobile: normal);

      width: 800px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
