.page {

  &-container {
    min-height: 50vh;
    padding: 0 0 100px 0;
  }

  &-intro {
    padding: 40px 0;

    &-title {
      font-family: $titleFont;
      @include typo(thin xxlarge center uppercase);
      margin-bottom: 40px;
    }

    &-introduction {
      @extend .wysiwyg;

      @include typo(center thin large);

      width: 800px;
      margin: 0 auto;
    }
  }
}
