/**
 * Colors map.
 */

$colors: (

	// shades of grey
  lighter: #fff,
  light: #E3E3E3,
  dark: #483f40,
  darker: #231715,

  // branding
  purple: #452771,
  purplelight: #DAD4E2,
  pink: #CB308A,
  cyan: #00FFFF,
  orange: #F6A623,
  blue: #1D3461,

  // error & alerts
  red: #cc1e1e,
  green: #008000,
  greenlight: #b3dab3,
);


/**
 * Front-end function.
 */

@function color($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  }
  @else {
    @return $name;
  }

}
