/**
 * Colors map.
 */

$colors: (

	// shades of grey
  lighter: #fff,
  light: #E6E6E6,
  semilight: #aaa,
  dark: #483f40,
  darker: #231715,

  // branding
  pink: #EE3464,
  green: #79DAC1,
  yellow: #FBD041,

  // error & alerts
  red: #cc1e1e,
  success: #008000,
);


/**
 * Front-end function.
 */

@function color($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  }
  @else {
    @return $name;
  }

}
