@font-face {
  font-family: callunaweb;
  src: url(./assets/fonts/Calluna-Bold.otf);
  font-weight: 400;
}
@font-face {
  font-family: callunaweb;
  src: url(./assets/fonts/Calluna-Black.otf);
  font-weight: 500;
}
@font-face {
  font-family: timesweb;
  src: url(./assets/fonts/Times.ttc);
  font-weight: 400;
}
@font-face {
  font-family: avenirweb;
  src: url(./assets/fonts/Avenir-Next-Condensed.ttc);
  font-weight: 400;
}
