.articlePreview {
  background: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include shadow();

  width: 300px;
  margin: 0 10px 20px 10px;

  &-aside {
    flex-shrink: 0;
    position: relative;
  }
  &-visual {
    display: block;
  }

  &-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  &-date {
    @include typo(italic tiny semilight);
  }
  &-title {
    @include typo();
  }
  &-description {
    margin-bottom: 5px;
  }
}
