.header {
  padding: 20px 0;
  position: relative;

  &:before {
    content: ''; display: block;
    position: absolute;
    background: color(pink);
    top: 0; left: 0;
    width: 100%;
    height: 120px;
    transform: rotate(2deg) translate(0,-20px) scale(1.1);
  }

  body.home & {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    transform: scale(1.5) translate(0, 10px);


    img {
      width: 100px;
      body.home & { visibility: hidden; }
    }
  }

  .menu {}
}
