.spectaclePreview {
  background: white;
  margin-bottom: 20px;
  display: flex;
  @include shadow();
  position: relative;

  @include mobile() {
    flex-direction: column;
  }

  &-date {
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    transform: translate(-10px, -10px);
    background: white;
    padding: 5px;

    @include mobile() {
      position: relative;
      text-align: center;
      transform: translate(0);
      padding: 5px 0 0 0;
    }
  }

  &-aside {
    flex-shrink: 0;
    position: relative;
    @include square(160px);

    @include mobile() {
      display: none !important;
    }
  }

  &-visual {
    display: block;
  }

  &-main {
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  &-artiste {

    &-name {
      @include typo(large);
    }
    &-discipline {
      @include typo(normal semilight);
    }
  }
  &-description {
    margin-bottom: 5px;
  }
  &-etablissement {
    @include typo(thin);
  }
  &-metas {
  }
  &-meta {
    display: inline-flex;
    align-items: center;
    @include typo(semilight small);
    margin-right: 5px;

    .icon {
      fill: color(semilight);
      @include square(15px);
      margin-right: 5px;
    }
  }
  &-link {
    position: absolute;
    left: 100%; bottom: 0;
    transform: translateX(-30px);
    height: 30px;
    background: color(pink);
    display: flex;
    align-items: center;

    transition: all 0.2s linear;

    @include mq($from: mobile) {
      .spectaclePreview:hover & {
        transform: translateX(-100%);
      }
    }

    &-icon {
      width: 30px;
      @include typo(thin xxlarge lighter);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text {
      @include typo(thin uppercase small lighter nowrap);
      padding-right: 10px;
    }
  }
}
